			<!-- BEGIN PAGE CONTENT-->
			<div th:fragment="user-update" class="row">
				<div class="col-md-12">
					<div class="tabbable tabbable-custom boxless tabbable-reversed">
						<div class="tab-content">
							<div class="tab-pane active" id="tab_0">
								<div class="portlet box green">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-pencil-square-o"></i>User Add Form
										</div>
										<div class="tools">
											<a href="javascript:;" class="collapse">
											</a>
											<a href="#portlet-config" data-toggle="modal" class="config">
											</a>
											<a href="javascript:;" class="reload">
											</a>
											<a href="javascript:;" class="remove">
											</a>
										</div>
									</div>
									<div class="portlet-body form">
										<!-- BEGIN FORM-->
										<form th:action="@{/admin/user/update/{id}(id=${user1.id})}" th:object="${entity}" class="form-horizontal" method="post" enctype="multipart/form-data">
											<div class="form-body">
                                                <div class="form-group last">
													<label class="col-md-3 control-label">Admin</label>
													<div class="col-md-4">
														<span class="form-control-static" th:text="${session.user.fullname}">
														 </span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">User Name</label>
													<div class="col-md-4">
														<input name="id" type="text" class="form-control input-circle" th:value="${user1.id}" readonly>
														<!-- <span class="help-block">
														A block of help text. </span> -->
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Full Name</label>
													<div class="col-md-4">
														<div class="input-group">
															<span class="input-group-addon input-circle-left">
															<i class="fa fa-pencil-square-o"></i>
															</span>
															<input name="fullname" th:value="${user1.fullname}" type="text" class="form-control input-circle-right" placeholder="example:Xiao Yi" required="required" pattern=".{6,}"
                                                            title="Username must be more than 6 characters">
														</div>
													</div>
												</div>
                                                <div class="form-group">
													<label class="col-md-3 control-label">Email</label>
													<div class="col-md-4">
														<div class="input-group">
															<span class="input-group-addon input-circle-left">
															<i class="fa fa-pencil-square-o"></i>
															</span>
															<input name="email" th:value="${user1.email}" type="email" class="form-control input-circle-right" placeholder="example:xiaoyi@tdb.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Email is not valid">
														</div>
													</div>
												</div>
                                                <div class="form-group">
													<label class="col-md-3 control-label">Telephone</label>
													<div class="col-md-4">
														<div class="input-group">
															<span class="input-group-addon input-circle-left">
															<i class="fa fa-pencil-square-o"></i>
															</span>
															<input name="telephone" th:value="${user1.telephone}" type="text" class="form-control input-circle-right" placeholder="example:Xiao Yi" required="required">
														</div>
													</div>
												</div>
                                                <div class="form-group">
													<label class="col-md-3 control-label">Activate</label>
													<div class="col-md-4">
														<div class="input-group radio-list">
															<label class="radio-inline">
                                                            <input type="radio" name="activated" id="optionsRadios4" value="true" checked> <span>Yes</span>  </label>
                                                            <label class="radio-inline">
                                                            <input type="radio" name="activated" id="optionsRadios5" value="false"> No </label>
														</div>
													</div>
												</div>
                                                <div class="form-group">
													<label class="col-md-3 control-label">Password</label>
													<div class="col-md-4">
														<div class="input-group">
															<span class="input-group-addon input-circle-left">
															<i class="fa fa-pencil-square-o"></i>
															</span>
															<input name="password" th:value="${user1.password}" type="password" class="form-control input-circle-right" placeholder="example:******" required="required" pattern=".{6,}"
                                                            title="Username must be more than 6 characters">
														</div>
													</div>
												</div>
                                                <div class="form-group">
													<label class="col-md-3 control-label">Role</label>
													<div class="col-md-4">
														<div class="input-group radio-list">
															<label class="radio-inline">
                                                            <input type="radio" name="admin" id="optionsRadios4" value="true" > <span>Admin</span>  </label>
                                                            <label class="radio-inline">
                                                            <input type="radio" name="admin" id="optionsRadios5" value="false" checked> User </label>
														</div>
													</div>
												</div>
                                                <div class="form-group">
													<label class="col-md-3 control-label">Image</label>
													<div class="col-md-4">
                                                        <input style="margin-top: 10px;" type="file" name="photo_file" />
													</div>
												</div>
											</div>
											<div class="form-actions">
												<div class="row">
													<div class="col-md-offset-3 col-md-9">
														<button type="submit" class="btn btn-circle blue">Update</button>
														<button type="button" class="btn btn-circle default">Cancel</button>
													</div>
												</div>
											</div>
										</form>
										<!-- END FORM-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->