<ul th:fragment="admin-sub-menu" class="sub-menu">
    <li>
        <a th:href="@{/admin/report-by-cate}">
        <i class="icon-graph"></i>
        Categories Statistics</a>
    </li>
    <li>
        <a th:href="@{/admin/reven-by-cate}">
        <i class="icon-graph"></i>
        <!-- <span class="selected"></span> -->
        Revenue By Category</a>
    </li>
    <li>
        <a th:href="@{/admin/reven-by-customer}">
        <i class="icon-graph"></i>
        <span class="selected"></span>
        Revenue By User</a>
    </li>
    <li>
        <a th:href="@{/admin/reven-by-year}">
        <i class="icon-graph"></i>
        <span class="selected"></span>
        Revenue By Month</a>
    </li>
    <li>
        <a th:href="@{/admin/reven-by-quarter}">
        <i class="icon-graph"></i>
        <span class="selected"></span>
        Revenue By Quarter</a>
    </li>
    <li>
        <a th:href="@{/admin/reven-by-year}">
        <i class="icon-graph"></i>
        <span class="selected"></span>
        Revenue By Year</a>
    </li>
</ul>