   <!--cart-->
   
   <div th:fragment="yee_CartInner" class="shopping_cart">
    <div id="cart" class="btn-shopping-cart">

        <a data-loading-text="Loading... " class="btn-group top_cart dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <div class="shopcart">
                <span class="icon-c">
        <i class="fa fa-shopping-bag"></i>
      </span>
                <div class="shopcart-inner">
                    <p class="text-shopping-cart">

                        My cart
                    </p>

                    <span class="total-shopping-cart cart-total-full">
           <span class="items_cart" th:text="${cartCount}"></span><span class="items_cart2"> item(s)</span>
                    </span>
                </div>
            </div>
        </a>

        <ul class="dropdown-menu pull-right shoppingcart-box" role="menu">
            <li>
                <table  class="table table-striped">
                    <tbody >
                        <tr th:each="item,state:${cartItems}">
                            <td class="text-center" style="width:70px">
                                <a th:href="@{/product-detail/pid={id}(id=${item.id})}">
                                    <img th:src="@{${'/image/catalog/products/'+item.image}}" style="width:70px" alt="Yutculpa ullamcon" title="Yutculpa ullamco" class="preview">
                                </a>
                            </td>
                            <td class="text-left"> <a class="cart_product_name" th:href="@{/product-detail/pid={id}(id=${item.id})}" th:text="${item.name}+' (-'+${#numbers.formatInteger(item.discount*100,1,'POINT')}+'%)'">Yutculpa ullamco</a> 
                            </td>
                            <td class="text-center" th:text="${item.quantity}"></td>
                            <td class="text-center" th:text="${#numbers.formatInteger(item.unitPrice,3,'POINT')}">$80.00</td>                            
                            <td class="text-right">
                                <a th:href="@{/cart/view}" class="fa fa-edit"></a>
                            </td>
                            <td class="text-right">
                                <a onclick="cart.remove('2');" class="fa fa-times fa-delete"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <div>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-left"><strong>Sub-Total</strong>
                                </td>
                                <td class="text-right" style="color:red; font-style: italic;" th:text="${#numbers.formatInteger(cartAmount,3,'POINT')}">$162.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-right"> <a class="btn view-cart" th:href="@{/cart/view}"><i class="fa fa-shopping-cart"></i>View Cart</a>&nbsp;&nbsp;&nbsp; <a class="btn btn-mega checkout-cart" th:href="@{/check-out}"><i class="fa fa-share"></i>Checkout</a> 
                    </p>
                </div>
            </li>
        </ul>
    </div>

</div>
<!--//cart-->