			<!-- BEGIN PAGE CONTENT-->
			<div th:fragment="order-list" class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-edit"></i>Order-List
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
											<a th:href="@{/admin/order-add}" class="btn green">
											Add New <i class="fa fa-plus"></i>
										</a>
									</div>
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<a href="#">
													Print </a>
												</li>
												<li>
													<a href="#">
													Save as PDF </a>
												</li>
												<li>
													<a href="#">
													Export to Excel </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr>
								<th>
									 Order ID
								</th>
								<th>
									Order Customer
								</th>
								<th>
									Receipt Customer
							   </th>
								<th>
									 Order Date
								</th>
								<th>
									 Telephone
								</th>
								<th>
									Address
							   </th>
							   <th>
									Status
						   	   </th>
								<th>
									Total
						   	   </th>
								<th>
									 Edit
								</th>
								<th>
									 Delete
								</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="o,state:${orders}">
								<td th:text="${o.id}">
								</td>
								<td th:text="${o.user.fullname}">
							   </td>
							   <td th:text="${o.rpeople}">
								</td>
							   <td th:text="${o.orderDate}">
						   		</td>
								<td th:text="'0'+${o.telephone}">
						   		</td>
								<td th:text="${o.address}">
								</td>
								<td th:if="${o.status==1}">Preparing Order
								</td>
								<td th:if="${o.status==2}">Shipping
								</td>
								<td th:if="${o.status==3}">Shipped
								</td>
								<td th:if="${o.status==4}">Order Canceled
								</td>
								<td th:text="${#numbers.formatInteger(o.amount,3,'POINT')}+' VNĐ'">
								</td>
								<td>
									<a th:href="@{/admin/order-update/{id}(id=${o.id})}">
									Edit </a>
								</td>
								<td>
									<a th:href="@{/admin/order/delete/{id}(id=${o.id})}">
									Delete </a>
								</td>
							</tr>
							</tbody>
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT -->
